/* Header */
.header {
  background: url(../images/bg-header-mobile.png) no-repeat;
  background-size: contain;
  background-position: top center;

  &__container {
    max-width: 85%;
    margin: auto;
    padding: 120px 0;

    /* Hero */
    .hero {
      &__content {
        padding: 70px 0 50px;

        h1 {
          padding: 0 1rem;
          font-size: 6vmin;
        }
      }

      &__app {
        .ios {
          margin: 0 0 25px 0;
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .header {
    background: url(../images/bg-header-desktop.png) no-repeat;

    .hero {
      &__app {
        display: flex;
        justify-content: center;

        button {
          width: 300px;
        }

        .ios {
          margin: 0 25px 0 0;
        }
      }
    }
  }
}

@media (min-width: 991px) {
  .header {
    background-size: contain;
    .header__container {
      max-width: 50%;
    }
  }
}
